## EXERCISES

#### Exercise 1

Given the code below    

    text = 'Business Analytics'

What will the following expressions produce?
    
    text[4]
    text[2:4]
    text[:4]
    text[4:]
    text[-2]
    text[-4:-2]
    text[-2:]
    text[:-2]

In [ ]:
text = 'Business Analytics'

print(text[4])
print(text[2:4])
print(text[:4])
print(text[4:])
print(text[-2])
print(text[-4:-2])
print(text[-2:])
print(text[:-2])

n
si
Busi
ness Analytics
c
ti
cs
Business Analyti

#### Exercise 2

Given the code below:
    
    phrase = 'One Ring to rule them all'

What string slicing expression gives out the following words:

    'One '
    'Ring'
    'all'
    'them'
    'One Ring to rule them all'

In [ ]:
phrase = 'One Ring to rule them all'
print(phrase[0:4])
print(phrase[4:8])
print(phrase[-8:-4])
print(phrase[:])

One
Ring
them
One Ring to rule them all


## CHALLENGE

Write a program which repeatedly reads a **full name**, then does the following:
- strips the name of any trailing spaces
- capitalizes the first letter
- puts the rest into smaller letters

In [ ]:
print("Enter Full name and type 'done' to exit")
while True:
    # Read full name from user
    full_name = input("Enter Name: ")

    # Check if user wants to quit
    if full_name.lower() == 'done':
        break

    # Strip trailing spaces
    formatted_name = full_name.strip()

    # Capitalize first letter
    formatted_name = formatted_name[0].upper() + formatted_name[1:].lower()

    # Output the formatted name
    print("           ", formatted_name)

Enter Full name and type 'done' to exit
Enter Name: CHAD MICHAEL JURADO
            Chad michael jurado
Enter Name: DYNN ALEKSANDR BASCO
            Dynn aleksandr basco
Enter Name: done