## EXERCISES

#### Exercise 1

Create an empty list then add the following numbers using `append`: 4, 6 9.

In [ ]:
emptylist = []
emptylist.append(4)
emptylist.append(6)
emptylist.append(9)
print('Emptylist =', emptylist)

Emptylist = [4, 6, 9]

#### Exercise 2

Using the `range` function, create a list containing the numbers from 0 to 10.

In [ ]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Exercise 3

Create a list containing the valid grade values, then using `enumerate` in a `for` loop, print out all **indices** and **items** in the list.

It should print out:

    0   1.0
    1   1.25
    2   1.5
    3   1.75
    4   2.0
    5   2.25
    6   2.5
    7   3.0

In [ ]:
grades = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]

for i, grade in enumerate(grades):
    print(i, grade)

0 1.0
1 1.25
2 1.5
3 1.75
4 2.0
5 2.25
6 2.5
7 3.0

#### Exercise 4

Using Index Slicing, print out the list of grades higher than 2.0

In [ ]:
grades[5:8]

[2.25, 2.5, 3.0]

#### Exercise 5

Using Index Slicing, print out the list of grades better than 2.0.

In [ ]:
grades[0:4]

[1.0, 1.25, 1.5, 1.75]

#### Exercise 6

Using Index Slicing, print out the grades 2.0,2.25,2.5.

In [ ]:
grades[4:7]

[2.0, 2.25, 2.5]

## CHALLENGE

Modify the code in the subheading [Parsing Lines](#ParsingLines) to display all the time stamps
of the emails in mboxt-short.txt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
fhand = open('/content/drive/My Drive/Python101/mbox-short.txt')
emails = []
timestamps = []

for line in fhand:
    line = line.strip()
    if line.startswith('From '):
        words = line.split()
        emails.append(words[1])
        timestamp = words[5] + ' ' + words[2] + ' ' + words[4] + ' ' + words[6]
        timestamps.append(timestamp)

# Print emails and timestamps pair by pair
for email, timestamp in zip(emails, timestamps):
    print("Email:", [email])
    print("Timestamp:", [timestamp])

Email: ['stephen.marquard@uct.ac.za']
Timestamp: ['09:14:16 Sat 5 2008']
Email: ['chadmichaeljurado@gmail.com']
Timestamp: ['08:13:15 Sun 6 2008']


[TABLE OF CONTENTS](#contents)